In [1]:
import numpy as np
import pandas as pd

Listes et tableau

In [12]:
# Objectif : garder uniquement les nombres > 10
numbers = [5, 12, 7, 18, 3, 21]

# Ton code ici
result = [i for i in numbers if i>10]
print(result)

arr = np.array([10, 15, 20, 25, 30])
# Objectif : extraire les éléments > 20
result2 = arr[arr>20]
print(result2)

print(arr[(arr>=15)&(arr<=30)])

[12, 18, 21]
[25 30]
[15 20 25 30]

Series pandas

In [15]:
s = pd.Series([3, 8, 12, 5, 20, 7], index=['a', 'b', 'c', 'd', 'e', 'f'])

print(s[s>10])
print(s[s<=10])
print(s[(s>5)&(s<15)])

c    12
e    20
dtype: int64
a    3
b    8
d    5
f    7
dtype: int64
b     8
c    12
f     7
dtype: int64

Dataframe pandas

In [36]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 17, 35],
    "city": ["London", "Paris", "Bruxelles"]
})
display(df)
sub18 = df[df["age"] > 18]
paris = df[(df["age"]>18)&(df["city"] == "Paris")]
cities = df[(df["city"] == "London") | (df["city"] == "Bruxelles")]
display(cities)

      name  age       city
0    Alice   25     London
1      Bob   17      Paris
2  Charlie   35  Bruxelles

      name  age       city
0    Alice   25     London
2  Charlie   35  Bruxelles