Objectif: définir le meilleur paramètre entre 1 et 10 pour le modèle

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#importe le modèle de régression linéaire
from sklearn.linear_model import LinearRegression
# Importer le modèle de régression SVR
from sklearn.svm import SVR
# Importe le modèle KNeighbors
from sklearn.neighbors import KNeighborsClassifier

In [4]:
titanic = sns.load_dataset("titanic")
titanic.shape
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
titanic = titanic[["survived", "age", "pclass", "sex"]]
titanic.dropna(axis=0, inplace=True)
titanic["sex"].replace(["male", "female"], [0, 1], inplace=True)
titanic.head()

C:\Users\32472\AppData\Local\Temp\ipykernel_12404\3685286627.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic["sex"].replace(["male", "female"], [0, 1], inplace=True)
C:\Users\32472\AppData\Local\Temp\ipykernel_12404\3685286627.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic["sex"].replace(["male", "female"], [0, 1], inplace=True)

   survived   age  pclass  sex
0         0  22.0       3    0
1         1  38.0       1    1
2         1  26.0       3    1
3         1  35.0       1    1
4         0  35.0       3    0

In [6]:
y = titanic["survived"]
X = titanic.drop("survived", axis=1)

In [15]:
def find_the_best():
    best_score = 0
    best_param = 0
    for i in range(1, 11):
        model = KNeighborsClassifier(n_neighbors=i)
        model.fit(X, y)
        score = model.score(X, y)
        if best_score<score:
            best_score = score
            best_param = i
        print(f"n_neighbors: {i}, score: {score}")
    return best_param
print(f"Le meilleur est {find_the_best()}")

n_neighbors: 1, score: 0.8739495798319328
n_neighbors: 2, score: 0.84593837535014
n_neighbors: 3, score: 0.8627450980392157
n_neighbors: 4, score: 0.8403361344537815
n_neighbors: 5, score: 0.8417366946778712
n_neighbors: 6, score: 0.8221288515406162
n_neighbors: 7, score: 0.8207282913165266
n_neighbors: 8, score: 0.7941176470588235
n_neighbors: 9, score: 0.8095238095238095
n_neighbors: 10, score: 0.8025210084033614
Le meilleur est 1