Objectif: définir le meilleur paramètre entre 1 et 10 pour le modèle

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#importe le modèle de régression linéaire
from sklearn.linear_model import LinearRegression
# Importer le modèle de régression SVR
from sklearn.svm import SVR
# Importe le modèle KNeighbors
from sklearn.neighbors import KNeighborsClassifier

In [4]:
titanic = sns.load_dataset("titanic")
titanic.shape
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [45]:
titanic = titanic[["survived", "age", "pclass", "sex"]]
titanic.dropna(axis=0, inplace=True)
titanic["sex"].replace(["male", "female"], [1, 0], inplace=True)
titanic.head()

C:\Users\32472\AppData\Local\Temp\ipykernel_12404\1044546797.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic["sex"].replace(["male", "female"], [1, 0], inplace=True)

   survived   age  pclass  sex
0         0  22.0       3    0
1         1  38.0       1    1
2         1  26.0       3    1
3         1  35.0       1    1
4         0  35.0       3    0

In [46]:
y = titanic["survived"]
X = titanic.drop("survived", axis=1)

In [47]:
def find_the_best():
    best_score = 0
    best_param = 0
    for i in range(1, 11):
        model = KNeighborsClassifier(n_neighbors=i)
        model.fit(X, y)
        score = model.score(X, y)
        if best_score<score:
            best_score = score
            best_param = i
    return best_param
print(f"Le meilleur est {find_the_best()}")

Le meilleur est 1

In [49]:
model = KNeighborsClassifier(n_neighbors=find_the_best())
model.fit(X, y)
#age,  pclass, sex
you = np.array([50, 2, 1]).reshape(1, 3)
print(f"votre chance de survie est de {model.predict(you)[0] * 100}%")

votre chance de survie est de 100%

c:\Users\32472\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(